* {
    padding: 0;
    margin: 0;
    border: 0
}

*, :after, :before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:active, :focus, a:active, a:focus {
    outline: 0
}

aside, footer, header, nav {
    display: block
}

body, html {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

button, input, textarea {
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a, a:hover, a:visited {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

:root {
    --gray-xl: hsl(0, 0%, 43%);
    --gray-700: hsl(44, 16%, 82%);
    --blue-600: hsl(223, 24%, 15%);
    --yellow-700: hsl(47, 80%, 49%);
}

#__next {
    min-height: 100%;
}

html {
    color: #fff;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
}

html::-webkit-scrollbar {
    background: hsl(223, 28%, 10%);
}

html::-webkit-scrollbar-thumb {
    background: var(--blue-600);
    border-radius: 0.5em;
}

body {
    min-height: 100%;
}


@media screen and (max-width: 900px) {
    html {
        font-size: 16px;
    }
}